body, h1, h2, h3, ul {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: url(https://images.unsplash.com/photo-1533090161767-e6ffed986c88?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWluaW1hbGlzdCUyMG9mZmljZXxlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat;
    margin: 0;
   
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: red;
}

.contact-link {
    display: inline-block;
    color: blueviolet;
}

a{
    list-style-type: none;
    text-decoration: none;
}