<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="container">
        <h1>Contacts App</h1>
    <h2 class="bape">Login</h2>
    <div class="benny">
    <form action="/sessions" method="POST" class="login-form">
        <div class="chair">
        Email: <input required type="text" name="username" class="input-field"/><br>
        </div>
        <div class="sprite">
        Password: <input required type="password" name="password" class="input-field"/><br>
        </div>
        <input type="submit" name="login" value="Login" class="btn btn-primary"/>
        <a class="sign-up-btn" href="/users/new">Sign Up</a>
    </form>
    </div>
</body>
</html>