<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <%- include('../partials/header') %>
    <h1 class="heading">Login</h1>
    <form action="/sessions" method="POST" class="login-form">
        Email: <input required type="text" name="username" class="input-field"/><br>
        Password: <input required type="password" name="password" class="input-field"/><br>
        <input type="submit" name="login" value="Login" class="btn btn-primary"/>
    </form>
</body>
</html>