<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="container">
        <h1>Contacts App</h1>
    <h2 class="bape">Login</h2>
    <div class="benny">
    <form action="/sessions" method="POST" class="login-form">
        <div class="chair">
        Email: <input required type="text" name="username" class="input-field"/><br>
        </div>
        <div class="sprite">
        Password: <input required type="password" name="password" id="password" class="input-field"/><br>
        </div>
    </div>
    <input type="checkbox" id="showPassword" class="show-password" onchange="togglePassword()"/> Show Password<br>
        <div>
        <input type="submit" name="login" value="Login" class="btn btn-primary"/>
        <a class="sign-up-btn" href="/users/new">Sign Up</a>
    </form>
    </div>
    <!-- Code to be able to show passwords and used this website
    https://www.w3schools.com/howto/howto_js_toggle_password.asp -->
    <script>
        function togglePassword() {
            let passwordField = document.getElementById("password")
            if (passwordField.type === "password") {
                passwordField.type = "text"
            } else {
                passwordField.type = "password"
            }
        }
    </script>
</body>
</html>