<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1 class="heading">Sign Up</h1>
    <form action="/users" method="POST" class="signup-form">
        <div class="benny">
        <label for="email">Email: </label>
        <input required type="text" name="username" class="input-field"/><br>
        <label for="password">Password:</label> 
        <input required type="password" name="password" id="password" class="input-field"/>
    </div>
    <input type="checkbox" id="showPassword" class="show-password" onchange="togglePassword()"/> Show Password<br>
        <div>
        <input type="submit" name="signup" value="Sign Up" class="btn btn-primary"/>
        <a href="/sessions/new" class="btn btn-secondary">Back</a> 
        </div>
    </form>
    <!-- Code to be able to show passwords and used this website
    https://www.w3schools.com/howto/howto_js_toggle_password.asp -->
    <script>
        function togglePassword() {
            let passwordField = document.getElementById("password")
            if (passwordField.type === "password") {
                passwordField.type = "text"
            } else {
                passwordField.type = "password"
            }
        }
    </script>
</body>
</html>
