<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1 class="heading">Sign Up</h1>
    <form action="/users" method="POST" class="signup-form">
        Email: <input required type="text" name="username" class="input-field"/><br>
        Password: <input required type="password" name="password" class="input-field"/><br>
        <div>
        <input type="submit" name="signup" value="Sign Up" class="btn btn-primary"/>
        <a href="/sessions/new" class="btn btn-secondary">Back</a> 
        </div>
    </form>
</body>
</html>
