<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <h1 class="heading">Contacts</h1>
    <div class="container">
        <a href="/contacts/new" class="btn btn-primary">Create Contact</a>
        <table class="contact-table">
            <tbody>
                <% for(let i=0; i < allContacts.length; i++){ %>
                    <tr>
                        <th class="contact-name" scope="row">
                            <a href="/contacts/<%= allContacts[i]._id %>">
                                <%= allContacts[i].name %>
                            </a>
                        </th>
                        <td class="action-btn">
                            <a href="/contacts/<%= allContacts[i]._id %>/edit" class="btn btn-secondary">Edit</a>
                        </td>
                        <td class="action-btn">
                            <form method="POST" action="/contacts/<%= allContacts[i]._id %>?_method=DELETE">
                                <input type="submit" class="btn btn-danger" value="DELETE"/>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>